#
# Config file for the playlist database
# You have to pass in this filename in the constructor
# as PlaylistDatabase(config_file=FILENAME)
# ans all other kwargs will be ignored
#
[database]
user=root
password=password
host=127.0.0.1

